## Eclipse
#.project
#.metadata
#.classpath
#.loadpath
#.settings/
#.buildpath

## Java
*.class
*.jar

## Android
*.apk
*.ap_
*.dex
local.properties
project.properties

## Generados
bin/
gen/
assets/

## Linux
.*
!.gitignore
!.project
!.classpath
!.loadpath
!.buildpath
!.settings/
*~

## KDE
.directory

## Librerías del proyecto
libs/
libs/*.jar
